.main-container {
	margin-top: 10vh;
	min-height: 90vh;
	padding-top: 10vh;
}

.main-container > div {
	width: 49%;
	background: white;
	padding: 1rem;
	height: 70vh;
	overflow-y: scroll;
	border-radius: 10px;
}
